html{
    height: 100%;
}
body {
    width: 960px;
    margin: auto;
    margin: auto;
    height: 100%;

    font-family: Arial;
    background-image: linear-gradient(to bottom right, #d0ffb3 10%, #584EEB 90%);
}
.main-container {
    margin-top: 0.3cm;
    width: 25cm;
    height: 2.3cm;
    background-color: #a7a4a4;
    font-size: 15px;
    display: flex;
  justify-content: center;
  align-items: center;

  border:  20px solid;
  border-image-source: url("pattern.png");
  border-image-slice: 27;
  border-image-repeat: stretch round;


  background-clip: padding-box;
}
.botones {
    background-color: red;
    
}
.botones:hover {
    background-color: blue;
    size: 10px;
}